.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
        .content {
            flex-direction: column;
            display: flex;
            flex: 1 1 auto;
            overflow: hidden;
            min-height: 0;
            padding: 20px;

            .scroll_area {
                flex: 1 1 auto;
                overflow-y: auto; 
                border: 1px solid rgba(255, 255, 255, 0.363);
                border-radius: 8px;
            }
        }
    }