.container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #000000;
}

.ornament {
    position: absolute;
    border: 1px solid red;
    width: inherit
}