$padding--top-panel_big : 30px 30px 30px 30px;


// Мобильные устройства
@media (max-width: 480px) {
    /* Стили для большинства смартфонов */
}

// Ноутбуки и планшеты в ландшафтной ориентации
@media (max-width: 1024px) {
    /* Стили для планшетов/небольших ноутбуков */
}

// Десктопы
@media (max-width: 1440px) {
    /* Стили для обычных мониторов */
}