.container {

}

.namechange_block input{
    height: 80px;
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.namechange_block:hover input:hover{
    background-color: rgb(33, 33, 39);
    border: none;
}

.namechange_block input:focus {
    background-color: rgb(33, 33, 39);
    border: none;
}