.container {
    display: flex;

    table {
        width: 100%;
        font-family: 'Roboto';
        table-layout: fixed;
        border-collapse: collapse;
        color: #f0efef;
        font-size: 12px;
        border-spacing: 0;
    }

    tr {
        border-bottom: 1px solid #f3f3f323;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: #141414;
        -webkit-box-shadow: 0px -20px 0px 0px #141414;
        -moz-box-shadow: 0px -20px 0px 0px #141414;
        box-shadow: 0px -20px 0px 0px #141414;
    }

    thead tr {
        border-bottom: none;
    }

    thead {

        tr {
            th {
                font-size: 14px;
                font-weight: 500;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

    }

    tbody {

        td {
            height: 24px;
            box-sizing: border-box;
        }

        .cell {
            height: 100%;
            padding: 10px 10px 10px 10px;

            text-align: center;
        }
    }
}

.headerCell {
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container::-webkit-scrollbar-thumb {
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid #D1D7E0
        /* отступ вокруг бегунка */
}

.container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* ширина всей полосы прокрутки */
}

.container::-webkit-scrollbar-track {
    background: rgb(109, 109, 109);
    ;
    /* цвет зоны отслеживания */
}