@use '../../../../shared/ui/constants.scss' as constants;

.container {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select {
    width: 200px;
    margin-right: 20px;
}

.search {
    margin-right: 20px;
    width: 200px;
}

.actions {
    display: flex;
}

.change_button {
    margin-right: 20px;
}

.search input {

}

.filters {
    display: flex;
}

.accounts_search_input_wrapper {
    margin-right: 20px;
}

.switch_block {
    display: flex;
    color: white;
    align-items: center;

    .switch {
        margin-left: 6px;
    }
}