.container {

    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 50px;

    .error {
        margin-top: 10px;
        color: #f5222d
    }

    h1 {
        text-align: center;
        color: white
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        input {
            padding-left: 10px;
            margin-bottom: 20px;
            height: 30px;
            border-radius: 4px;
            outline: none;
            border: 1px solid rgba(128, 128, 128, 0.5);
            background-color: transparent;
            color: white;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    

    button {
        box-sizing: border-box;
        width: 100%;
    }
    
    button:disabled{
        border: 1px solid rgba(255, 255, 255, 0.116);
    }
}