.container {
    padding-right: 20px;
    margin-right: 20px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.drawer {
    padding-right: 20px;
    overflow: hidden;
}