.container {
  padding: 20px;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.segmented {

}

.name_block {
  color: #ffffff;
  display: flex;
  align-items:start;
  transition: all 1s;
  animation: ani 1s forwards;
}

.name_block:hover .edit_name_button {
  opacity: 1;
}


.edit_name_button {
  padding-top: 0px;
  opacity: 0.5;
  transition: opacity 0.3s;
}


.name {
    font-size: 40px;

}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}