@use '../../../shared/ui/constants.scss' as constants;

.container {
    // margin: constants.$padding--top-panel_big;
    padding: constants.$padding--top-panel_big;
    height:80px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(34, 60, 80, 0.05);
    -moz-box-shadow: 0px 0px 19px 0px rgba(34, 60, 80, 0.05);
    box-shadow: 0px 0px 19px 0px rgba(34, 60, 80, 0.05);
}