.container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .timeline {
        text-align: center;
        width: 100%;
        color: rgba(255, 255, 255, 0.486);
    }

    .title {
        font-size: 26px;
        color: white;
        margin-bottom: 20px;
    }
}