.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 200px;
    text-align: center;
    color: white;

    .label {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .icon {
        font-size: 100px;
    }
}
.ant-result-title {
    color: white !important;
}