.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;

    .header {
        padding-left: 20px;
    }

    .content {
        padding: 0 20px 0 20px;
        height: 100%;
        flex: 1 1 auto;
    }
}