.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.85);

    .status {
        font-size: 40px;
    }

    .title {
        font-size: 30px;
    }
}