@use '../../../../shared/ui/constants.scss' as constants;

.container {
    
}

.select {
    width: 200px;
}

.select_date {
    width: 100px;
}

.select input::placeholder {
    color: white
}

.filters {

    display: flex;
    justify-content: space-between;

    .left_actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

}

/* Добавьте класс для стилизации кнопки */
.custom-button {
    color: inherit; /* Унаследовать стандартный цвет */
    border-color: inherit;
}

/* Стили при наведении */
.custom_button:hover {
    color: #ff4d4f; /* Danger цвет из Ant Design */
    border-color: #ff4d4f;
}

.right {
        display: flex;
        justify-content: end;
    }