.container {
    display: flex;
    color: white;
    flex-direction: column;
    height: 120px;

    .title {
        font-size: 32px;
        font-weight: bold;
    }

    .id {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .name_and_status {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    .name {
        font-size: 26px;
        font-weight: bold;
    }
}