.container {
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-radius: 8px;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    height: 100%;

    .th:first-child {
        margin-left: 20px;
    }

    table {
        color: #ffffff;
    }

    td {
        padding: 0 0px;
    }
    
    td:first-child {
        padding: 0 0px 0 0;
    }

    td:last-child {
        padding: 0 0 0 0px;
    }

    tr:hover .cell{
        background-color: #262626;
    }

    thead {
        position: sticky;
        z-index: 1000;
        top: 0;
    }
    
    th {
        height: 40px;
    }
}

.cell {
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::-webkit-scrollbar-thumb {  /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 1px solid #D1D7E0 /* отступ вокруг бегунка */
}

.container::-webkit-scrollbar {
    width: 10px;  
    height: 10px;             /* ширина всей полосы прокрутки */
  }
  
.container::-webkit-scrollbar-track {
    background: rgb(109, 109, 109); ;        /* цвет зоны отслеживания */
}

.th {
    position: relative;
}

.headerCell {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 40px;
}

.checkboxContainer {
    position: absolute;
    left: -22px;
    width: 16px;
    height: 16px;
}

.checkbox {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.name {
    text-align: center;
    width: 100%;
}

.tr:hover .checkbox {
    opacity: 1 !important;
    transition: all 0.1s;
}