.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .settings {
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
    }

    .content {
        padding: 20px;
        flex: 1 1 auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}