.container {
    padding-top: 20px;
}

.select_block {
    margin-bottom: 10px;
}

.select_label {
    margin-bottom: 4px;
}

.select {
    width: 100%;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}

.group_select_container {
    display: flex;

    .select, .input {
        flex: 1
    }

    button {
        margin-left: 10px;
    }
}

.icon {
    fill: "#ffffff";
    color: "#ffffff"
}