.container {
    background-color: #F1F3F4;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}

.icon {
    font-size: 60px;
    
}