.container {
    height: 100vh;
    display: flex;
    overflow: hidden;

    .main {
        flex-grow: 1;
        overflow-y: scroll;
    }
}

.down_actions {
    position: absolute;
    bottom: 60px;
    left: 25px;
}

.language {
    color: white;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}