.ag-root-wrapper {
    border: none;
}

.ag-cell-wrapper {
    width: 100%;
}

.ag-header {
    background-color: #141414;
    color: white
}

.ag-row {
    height: 10px;
}

.ag-cell-label-container {
    justify-content: center;
}

.ag-cell-value {
    text-overflow: clip;
}

.ag-chart, .ag-dnd-ghost, .ag-popup, .ag-root-wrapper {
    background-color: transparent
}

.ag-header-cell-label {
  justify-content: center;
}
