.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header, .content, .filters {
        padding: 20px;
        color: #ffffff
    }

    .filters {
        padding-bottom: 0;
    }
.content {
    display: flex;
    flex: 1 1 auto;
    overflow-y: hidden;
    flex-direction: column;

    .scroll_area {
        padding-top: 20px;
        overflow-y: scroll;
        flex: 1 1 auto;
        overflow-y: auto;    
        border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    }
}
}