.container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .select {
        width: 200px;
    }

    .date {
        width: 130px;
    }

    .left_actions {
        display: flex;
    }
}